body {
  background-color: #000;
}

.wrapper {
  width: 75%;
  height: 900px;
  margin: 90px auto 50px auto;
  padding: 15px;
  background-color: #000;
  }

section {
  padding: 65px 8px 10px 8px;
}


p {
  color: white;
}